.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin-bottom: 92px;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;

    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    gap: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    gap: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
  }
}
