.place__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s linear;
  text-decoration: none;
}

.place__link:hover {
  opacity: 0.8;
}
